#fixed-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  min-height: 100px;
  max-height: 130px;
}
#header {
  background-color: black;
  color: white;
  padding-left: 5%;
}
.container {
  margin-top: 120px;
}
nav {
  background-color: #444;
}
.dropbtn {
  background-color: #444;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 0;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #777;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 90%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd
}
.show {
  display:block;
}
section p, ul {
  font-size: 1.3em;
  margin: 1em auto;
}
img {
  margin: 5% auto;
}
.blog-panel {
  max-height: 8500px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  -webkit-transition: max-height 0.5s ease-out;
}
.blog-post {
  cursor: pointer;
  width: 100%;
}
.blog-img {
  border: 2px solid darkgray;
  border-radius: 10px;
  cursor: pointer;
}
.blog-img:hover {
  opacity: 0.8;
}
#img-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0,0,0,0.9);
  z-index: 3;
  padding-top: 10px;
  opacity: 1;
}
.img-modal-content {
  max-height: 90vh;
}
.zoomin {
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 0.5s;
  animation-name: zoomin;
  animation-duration: 0.5s;
}
@-webkit-keyframes zoomin {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}
@keyframes zoomin {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.img-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: lightgray;
  font-size: 40px;
  font-weight: bold;
}
.img-modal-close:hover,
  .img-modal-close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.img-container {
  height: 750px;
  width: 1000px;
  margin: auto;
}
section > a {
  position: relative;
  top: -100px;
}
section > h4 {
  background-color: #f1f1f1;
  position: relative;
  padding: 0.8em;
  border-radius: 10px;
  border: 1px solid darkgray;
}
section > h4:hover {
  background-color: #ddd;
  border: 1px solid black;
}
.collapser {
  position: absolute;
  top: 0.8em;
  right: 2em;
}
.collapsed {
  max-height: 0;
}
q {
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: Georgia, "Arial Black", serif;
  font-size: 1.3em;
  color: #444;
  margin: 1em auto;
  white-space: nowrap;
}
q:before {
  content: '\201C';
  left: -5%;
 }
 q:after {
   content: '\201D';
   left: 5%;
  }
q:after, q:before {
  position: relative;
  top: 0;
  color: rgba(200,200,200,0.5);
  font-family: Sanchez, serif;
  font-size: 1.8em;
  z-index: -1;
 }
 footer {
   font-weight: bold;
   padding: 1.5em 0;
   border-top: 2px solid black;
   margin-top: 1em;
 }
 footer img {
   margin: 0 auto;
 }
 @media only screen and (max-width: 767px) {
   q {
     font-size: 4vw;
   }
 }
