#fixed-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  min-height: 120px;
  max-height: 150px;
}
#header {
  background-color: black;
  color: white;
  padding-left: 5%;
}
.container {
  margin-top: 140px;
}
nav {
  background-color: #444;
}

.dropbtn {
    background-color: #444;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 0;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #777;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

section p, ul {
  font-size: 1.3em;
  margin: 1em auto;
}
img {
  margin: 10% auto;
}
.blog-img {
border: 2px solid darkgray;
border-radius: 10px;
cursor: pointer;
/* width: 100%;
height: 100%; */
}
.blog-img:hover {
  opacity: 0.8;
}
#img-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0,0,0,0.9);
  z-index: 3;
  padding-top: 5%;
}
.img-modal-content {
max-height: 90vh;
  max-width: 90%;
  margin: 0 auto;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.5s;
  animation-name: zoom;
  animation-duration: 0.5s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.img-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: lightgray;
  font-size: 40px;
  font-weight: bold;
}
.img-modal-close:hover,
  .img-modal-close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.blog-post > a {
  position: relative;
  top: -110px;
}
q {
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: Georgia, "Arial Black", serif;
  font-size: 1.3em;
  color: #444;
  margin: 1em auto;
  white-space: nowrap;
}
q:before {
    content: '\201C';
    left: -5%;
 }
 q:after {
     content: '\201D';
     left: 5%;
  }
q:after, q:before {
    position: relative;
    top: 0;
    color: rgba(200,200,200,0.5);
    font-family: Sanchez, serif;
    font-size: 1.8em;
    z-index: -1;
 }
 footer {
   font-weight: bold;
   padding: 1.5em 0;
   border-top: 1px solid black;
   margin-top: 1em;
 }
 footer img {
   margin: 0 auto;
 }
