/* For all/mobile phones: */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
p {
  margin: 1em 0;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 80px;
}
#header {
  background-color: black;
  color: white;
}
#header h1 {
  padding: 0.5em;
  width: 80%;
  margin-left: 1em;
}
h2 {
  margin: 0.5em;
}
#section {
  width: 90%;
  margin: 120px auto 80px;
}
quote {
  font-weight: bold;
  font-family: Georgia, "Arial Black", serif;
  color: #444;
  display: inline-block;
  margin: 0 auto 0.5em;
  position: relative;
  left: 10%;
}
quote:before {
    content: '\201C';
    left: -10%;
 }
 quote:after {
     content: '\201D';
     left: 10%;
  }
quote:after, quote:before {
    position: relative;
    top: 30%;
    color: rgba(200,200,200,0.5);
    font-family: Sanchez, serif;
    font-size: 3em;
    z-index: -1;
 }

.padding {
  margin: 10px;
}
.right {
  float: right;
  margin: 10px 10px 10px 10px;
}
.images {
  border: 2px solid darkgray;
  border-radius: 10px;
}
.navbar {
  overflow: hidden;
  background-color: #444;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  width: 25%;
  padding: 1em;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  width: 25%;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 1em;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 100%;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #666;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #aaa;
  /* min-width: 100px; */
  width: 25%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 90%;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.blog > a {
  position: relative;
  top: -100px;
  left: 0;
}
#footer {
  width: 100%;
  border-top: 1px solid black;
  text-align: center;
  padding-top: 5px;
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
}
/* For tablets/laptops/desktops: */
@media only screen and (min-width: 768px) {

  h2 {
    margin: 20px auto;
  }
  h4 {
    margin: 15px auto;
  }
  #section {
    width: 70%;
  }
.links-list li {
  margin: 1em;
}
  .right {
    float: right;
    margin: 20px 40px 10px 20px;
  }

}
